html {
    height: 100%;
  }
  
  body {
    background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
  }
  
  .loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    perspective: 800px;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 2s linear infinite;
    border-bottom: 8px solid #039fdf;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 8px solid #039fdf;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 2s linear infinite;
    border-top: 8px solid #039fdf;
  }
  .inner.four {
    right: 0%;
    bottom: 0%;
    animation: rotate-four 1s linear infinite;
    border-top: 8px solid #039fdf;
  }
  .inner.five {
    right: 0%;
    bottom: 0%;
    animation: rotate-five 1s linear infinite;
    border-top: 8px solid #039fdf;
  }
  .inner.six {
    right: 0%;
    bottom: 0%;
    animation: rotate-six 3s linear infinite;
    border-top: 8px solid #039fdf;
  }

  @keyframes rotate-one {
    
   
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
      }
      100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
      }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  @keyframes rotate-four {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
      }
      100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
      }
  }
  @keyframes rotate-five {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
      }
      100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
      }
  }
  @keyframes rotate-six {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
      }
      100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
      }
  }
