<div class="col-lg-12">
    <!-- Modal content-->
    <div class="modal-content py-4">
        <div class="modal-header"
            style="background: linear-gradient(to right, rgb(0, 41, 88) 0%, rgba(255,175,75,0) 100%) !important;height: 65px;">
            <div class="modal-content modal-popup" (click)="cancel()" style="cursor: pointer;">
                <a class="close-link" style="text-decoration: auto !important;">x</a>
            </div>
            <div class="pop-header table">
                <div class="table-cell">
                    <img src="assets\Images\spyhre-logoemail.png" class="img-responsive" alt="PLLC">
                </div>
            </div>
            <div class="pop-content row " id="imagediv" style="height: 525px; display: none;">
                <div style="text-align: center;">
                    <img id="Contentadmin_Uc_Events_imgloading" src="Images/loading_black.gif"
                        style="padding:10px 20px; margin-top:200px;">
                </div>
            </div>
        </div>
        <div id="pc" class="pop-content row" style="display: block;">
            <h2 class="heading" id="ev" style="text-align: center;font-size: 1rem;">{{currentYear}} - Occasions</h2>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="ds-boxhead">Birthdays</div>
                    <div class="ds-boxhead">Work Anniversary</div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 ">
                    <div style="font-size:15px;height: 375px;overflow-x: scroll;" [innerHTML]="birthdays">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 ">
                    <div style="font-size:15px;height: 375px;overflow-x: scroll;" [innerHTML]="workanniversary">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>