<app-header></app-header>
<div class="card123">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#0aa0c2" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
    <div class="container">
        <div class="row row-db" *ngIf="showGrid">
            <div class="col-md-12">
                <div class="head-bg">
                    <div class="head-bg-left">
                        <span style=" float: left;">PROJECT WORK TYPE</span>
                        <div style=" float: right;">
                            <span (click)="addinsert()" class="add-panel"><i class="fas fa-plus-circle"></i> add</span>
                            <span class="sm-verticle-bar"></span>
                            <a href="userdashboard" style="text-decoration: none; color: #ffffff;"> dashboard</a>
                            <span class="sm-verticle-bar"></span>
                            <a href="userdashboard" style="text-decoration: none; color: #ffffff;">project dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-inverse" *ngIf="showGrid">
            <div class="head-bg">
                <div class="navbar-header ">
                    <a type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"
                        style="float: right;">
                        <i class="fas fa-bars pt-1" style="color: #66bf8a; font-size: 20px;"></i>
                    </a>
                    <span class="navbar-brand" href="#">PROJECT WORK TYPE</span>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="pt-3"><span (click)="addinsert()"><i class="fas fa-plus-circle"></i> add</span></li>
                        <li class="pt-3"><a href="userdashboard"
                                style="text-decoration: none; color: #ffffff;">dashboard</a></li>
                        <li class="pt-3 pb-2"><a href="userdashboard"
                                style="text-decoration: none; color: #ffffff;">project
                                dashboard</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-inverse" *ngIf="showAddPanel">
            <div class="head-bg">
                <div class="navbar-header ">
                    <a type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"
                        style="float: right;">
                        <i class="fas fa-bars pt-1" style="color: #66bf8a; font-size: 20px;"></i>
                    </a>
                    <span class="navbar-brand" *ngIf="save1">PROJECT WORK TYPE (Add)</span>
                    <span class="navbar-brand" *ngIf="save2">PROJECT WORK TYPE (Edit)</span>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="pt-3"><span (click)="viewall()">view all</span></li>
                        <li class="pt-3"><a href="userdashboard"
                                style="text-decoration: none; color: #ffffff;">dashboard</a></li>
                        <li class="pt-3 pb-2"><a href="userdashboard"
                                style="text-decoration: none; color: #ffffff;">project dashboard</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="row row-db" *ngIf="showAddPanel">
            <div class="col-md-12">
                <div class="head-bg">
                    <div class="head-bg-left">
                        <span style=" float: left;" *ngIf="save1">PROJECT WORK TYPE (Add)</span>
                        <span style=" float: left;" *ngIf="save2">PROJECT WORK TYPE (Edit)</span>
                        <div style=" float: right;">
                            <span (click)="viewall()" class="add-panel">view all</span>
                            <span class="sm-verticle-bar"></span>
                            <a href="userdashboard" style="text-decoration: none; color: #ffffff;"> dashboard</a>
                            <span class="sm-verticle-bar"></span>
                            <a href="userdashboard" style="text-decoration: none; color: #ffffff;">project dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-container" *ngIf="showGrid">
            <div class="container pt64">
                <div class="row ">
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 mt-5">
                        <div class="table-scroll">
                            <table class="flex-table flex-table-aligned table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 35%;">Project Work Type</th>
                                        <th style="width: 25%;">Status</th>
                                        <th style="width: 20%;">Date</th>
                                        <th style="width: 10%;">Edit</th>
                                        <th style="width: 10%;">Delete</th>
                                    </tr>
                                </thead>
                                <tbody class="scroll">
                                    <tr *ngFor="let data of projectdata">
                                        <td class="tdspname" style="width: 35%;">{{data.PWT_NAME}}</td>
                                        <td [ngClass]="data.PWT_ACTIVE=='Y'?'ACTIVE':'INACTIVE'" style="width: 25%;">
                                            {{data.PWT_ACTIVE=='Y'?'Active':'Inactive'}}</td>
                                        <td class="tdspname" style="width: 20%;">{{data.PWT_TS |date: 'M/dd/yyyy'}}</td>
                                        <td class="tdspname" style="width: 10%;">
                                            <a><img title="Edit" class="actions" (click)="EditPanel(data)"
                                                    src="../../../assets/Images/edt_icon.png"></a>
                                        </td>
                                        <td class="tdspname" style="width: 10%;">
                                            <a><img title="Delete" class="actions" (click)="delete(data)"
                                                    src="../../../assets/Images/del_gry.png"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- form -->
        <div class="container-fluid" *ngIf="showAddPanel" style="display: block;">
            <form [formGroup]="gustform">
                <div class="col-lg-12 form-content">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="mb-2">Project Work Type</label>
                                <input type="text" formControlName="worktypepro" class="form-control"
                                    placeholder="Project Work Type"
                                    [ngClass]="{ 'is-invalid': submitted && f.worktypepro.errors }">
                                <div *ngIf="submitted && f.worktypepro.errors" class="invalid-feedback">
                                    <div *ngIf="f.worktypepro.errors.required">Project work type is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">

                        <div class="col-6" *ngIf="hideall">

                            <label style="margin: 4px;float: left;font-size: 20px;" for="PWT_ACTIVE">

                                <input style="cursor: pointer;" [checked]="isstatus" type="checkbox"
                                    (change)="status($event.target.checked)" name="PWT_ACTIVE"
                                    formControlName="PWT_ACTIVE">&nbsp;

                                <label *ngIf="isactive" style="color: green;cursor: pointer;" value="Y"
                                    name="PWT_ACTIVE" for="PWT_ACTIVE">Active</label>

                                <label *ngIf="isinactive" style="color: red;cursor: pointer;" for="PWT_ACTIVE" value="D"
                                    name="PWT_ACTIVE">In-Active</label>

                            </label>

                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-4">
                            <button type="submit" style="background-color: skyblue;color: #fff;" *ngIf="save1"
                                class="btn" (click)="insert()">Save</button>
                            <button type="submit" style="background-color: skyblue;color: #fff;" *ngIf="save2"
                                class="btn" (click)="saveedit()">Save</button>
                            <button class="btn btn-warning ms-2" (click)="Cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>